<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>Minicomic of the Month Club 2012</title>
        <meta name="description" content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2012">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta property="og:title"
              content="Minicomic of the Month Club 2012" />
        <meta property="og:type"
              content="website"/>
        <meta property="og:url"
              content="http://minicomic.club/2012/" />
        <meta property="og:description"
              content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2012" />
        <meta property="og:image"
              content="http://minicomic.club/2012/img/{{ asset 'mcotm-2012-share.jpg' }}"/>

         <meta name="twitter:card"
               content="photo" />
        <meta name="twitter:site"
              content = "@smallercomics" />
        <meta name="twitter:creator"
              content = "@smallercomics" />
        <meta name="twitter:title"
              content = "Minicomic of the Month Club 2012" />
        <meta name="twitter:image"
              content = "http://minicomic.club/2012/img/{{ asset 'mcotm-2012-share.jpg' }}" />


        <link rel="canonical"
              href="http://minicomic.club/2017" />

    <style>
      @import url({{ asset 'main.css' }});
    </style>

    </head>
    <body>
      
      <div class="stripe blue">
        <img alt="It's happening again" src="img/{{ asset 'again.png'}}" />
      </div>
      <div class="stripe blue" id="the">
        <img alt="the" src="img/{{ asset 'the.png'}}" />
      </div>
      <div class="stripe yellow" id="banner">
        <img alt="Minicomic of the month club" src="img/{{ asset 'minicomic-of-the-month-club.png'}}" />
      </div>
      <div class="stripe blue">
        <img alt="They put a comic in the mail" src="img/{{ asset 'making.png' }}" />
      </div>
      <div class="stripe magenta">
        <img alt="You get a comic in the mail" src="img/{{ asset 'reading.png' }}" />
      </div>
      <div class="stripe yellow">
        <img alt="12 artists" src="img/{{ asset '12-artists.png' }}" />
      </div>
      <div class="stripe blue">
        <img alt="12 months" src="img/{{ asset '12-months.png' }}" />
      </div>
      <div class="stripe magenta">
        <img alt="12 minicomics" src="img/{{ asset '12-minicomics.png' }}" />
      </div>
      <div class="stripe yellow">
        <img alt="24 dollars" src="img/{{ asset '24-dollars.png' }}" />
        <div class="inner">
            <h2>This minicomic.club season has closed.</h2>
            <p><strong>There's always the next one!</strong> Join our mailing list and we'll keep you updated on when the next one happens!</p>
            {{> mailchimp }}
            <p>You could also follow us on <a class="slink" href="https://twitter.com/smallercomics" title="follow minicomic.club on twitter">twitter</a> or <a class="slink" href="http://facebook.com/minicomic.club">facebook</a></p>
        </div>
      </div>
      <div class="stripe blue">
            <img alt="The artists" src="img/{{ asset 'the-artists.png' }}" />
      </div>
      <div class="stripe magenta" id="artists">
            <div class="inner">
                  {{#each artists}}
                        <a href="{{ link }}"><img src="img/{{ asset img }}" alt="{{ name }}"><span>{{ name }}</span></a>
                  {{/each}}
            </div>
            
      </div>
      <div class="stripe blue" id="footer">
            <p>All images &copy; the respective artists. Site built by <a href="https://github.com/smallercomics/minicomic.club.2012">andrew@smallercomics.com</a></p>
            <p>See previous years:
                  <a title="Minicomic of the Month Club for 2017. Minicomics in the mail" href="/2017">2017</a> |
                  <a title="Minicomic of the Month Club for 2015. Minicomics in the mail"href="/2015">2015</a> |
                  <a title="Minicomic of the Month Club for 2014. Minicomics in the mail"href="/2014">2014</a> |
                  <a title="Minicomic of the Month Club for 2013. Minicomics in the mail"href="/2013">2013</a> |
            </p>
      <div>
      {{> ga }}
    </body>
</html>